@CHARSET "UTF-8";
*{
  margin:0px;
  padding:0px;
}
img{border:0px;}
html{
  width:100%;
  height:100%;
}
body{

}
html > body{
  min-height:100%;
  height:auto;
}
ul
{
  list-style: none;
}
.clear:after
{
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}
.clear
{
  min-height: 1px;
}
table {
  border-collapse: collapse;
  border: 1px solid #CCC;
  font-size: 12px;
}
.table, .table td, .table th {
  border:1px solid silver;
  border-collapse:collapse;
}
.table th {
  background-color:#EFEFEF;
}
table thead td {
  font-weight: bold;
  background: #E1E1E1;
}

table.list-colored tbody tr:hover td {
  background-color: #F3F3F3;
}

table td {
  padding: 5px 10px;
}

.left_block {
  border:1px solid #EEEEEE;
  border-top:none;
  width:200px;
  float: left;
}
.center {
  text-align:center;
}
.login_block {
  margin:200px auto;
  width:225px;
}
.category_block {
  margin:10px auto;
  width:325px;
}
.body_cnt {
  margin:10px auto;
  width:100%;
}
ul {

}
.title_sect ul{
  display:none;
  margin-left:10px;
}
.title_subsect ul {
  margin-left:10px;
}
.title_sect .sp_title, .title_subsect .sp_title {
  font-weight:bold;
}
.nav_submenu {
  margin-left:10px;
}
/*-------- logout -------------*/
.logout_btn {
  text-decoration: none;
  margin-right:10px;
  color: #000033;
  font-family: arial, sans-serif;
  font-weight:bold;
}
.logout_btn img{
  position:relative;
  top:2px;
}
/*----------- messenger -----------*/
#flash-message {
  color:#000033;
  font-weight:bold;
  margin:0 auto;
  text-align:center;
  width:500px;
}
#flash-message img{
  position:relative;
  top:5px;
}
.content {
  padding: 15px;
}

.list-holder {width: 600px;padding:10px 40px;}
/*---- paging style -----*/
.lybrary-paging {clear:both;}
.paginationControl .first_inactive,
.paginationControl .first_active,
.paginationControl .previous_active, 
.paginationControl .previous_inactive,
.paginationControl .next_active,
.paginationControl .next_inactive,
.paginationControl .last_active,
.paginationControl .last_inactive {
	display: block;
    float: left;
    height: 14px;
    width: 14px;
}
.paginationControl .first_active {
    background: url("/static/img/first_active.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .first_inactive {
    background: url("/static/img/first_inactive.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .previous_active {
    background: url("/static/img/previous_active.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .previous_inactive{
    background: url("/static/img/previous_inactive.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .next_inactive {
    background: url("/static/img/next_inactive.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .next_active {
    background: url("/static/img/next_active.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .last_inactive {
    background: url("/static/img/last_inactive.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .last_active {
    background: url("/static/img/last_active.gif") no-repeat scroll 0 3px transparent;
}
.paginationControl .paging_cnt {
    float: right;
}

.paginationControl {
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin:10px 0 0 10px;
}

.paginationControl .paging_cnt * {
    float: left;
}

.paginationControl .paging_cnt a, 
.paginationControl .paging_cnt span{
	margin:0 3px 0 3px;
}
